body {
  font-family: sans-serif;
  background-color: black;
  vertical-align: top;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.menu{
  padding: 0px;
  margin: 0px;
}
.midsize{
  font-size: 1.5em;
  color: white;
}
/* semantic */
.container {
  position: relative;
  background-color: white;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  margin: 10px;
  color: black

}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2.centeredtop {
  text-align: center;
}

/* self */
#navbar{
  background-color: #2D4159;

}

#home{
  background-color:black;
   /* background-image: url("black.jpg"); */
   background-repeat: no-repeat;
   background-size: 100%;
   color: white;
   text-align: center;
   justify-content: center;
   font-size: 10em;
   height: 3.75em;
   line-height: 165px;
   padding: 110px;
   padding-block-end: 210px;

   /* height: 100%;
   background: linear-gradient(90deg, #1F2833 50%, #1F2833 50%); */
  /* background-image: url("black.jpg"); */

  /* background: linear-gradient(to left, rgb(70, 47, 57), transparent), url("black.jpg") */
}

#homebase{
  background-color: #1F2833;;
   /* background-image: url("header.jpg"); */
   color: white;

   justify-content: center;
   font-size: 45px;
   height: 5em;
   line-height: 130px;
   padding: 7px;
   /* background: linear-gradient(90deg, #1F2833 50%, #1F2833 50%);
   background: linear-gradient(to right, #1F2833 , #A16E83 ); */
}

#add{
  background-color: #1F2833;
   color: yellow;
   font-size: 2em;
   height: 1.5em;
   line-height: 25px;
   padding: 30px;
}

#notFound{
  background-color: #1F2833;
  background-size: 100%;
   color: white;
   font-size: 2em;
   height: 80em;
   line-height: 80px;
   padding: 30px;
}
/*
.homespace{
  background-color: white;
   font-size: 7em;
   height: .5em;
} */

.twitter {
  background-color: #A16E83;;;
  color: white;
  /* padding: 15px 15px 15px 15px; */
  width: 100%;
  height: 100%
}

.scroll{
  overflow-y: scroll;
  /* overflow: hidden;
  position: relative; */
}

.parent{
  border-right: thin black solid;
  height: 100vh;
  overflow: hidden;
}



.albums {
  background-color: #A16E83;;
  /* background-image: url("black.jpg");
  background-repeat: no-repeat;
  background-size: 125%; */
  color: white;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.innerTweet {
  color: black;
  background-color: white;

}


div span.homePage {
  border: 12px solid white;
  width:40%;
  padding: 5px;
  color: yellow;
  /* width: 100wh;
	height: 90vh; */
  /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
  background: linear-gradient(-45deg,#2D4159,  #A16E83, #1F2833, pink);
	background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

div span.notFoundPage {
  width:100%;
  height: 100%;
  padding: 5px;
  color: yellow
}


#page{
  background-color: #A16E83;;
   color: white;
   /* background-image: url("black.jpg"); */
   /* text-align: center; */
   justify-content: center;
   font-size: 2.5em;
   /* height: 7em; */
   line-height: 58px;
   padding: 25px;
   width: 100%;
}


#list{
  background-color: #1F2833;
   color: white;
   /* text-align: center; */
   justify-content: left;
   font-size: 1.75em;
   line-height: 75px;
   padding: 30px;
   width: 100%;
   height: 100%;
   overflow: hidden;
   /* background: linear-gradient(90deg, #1F2833 43.75%, #A16E83 56.25%); */
}

div span.listPage {
  /* border: 2px solid white; */
  /* border-radius: 20px; */
  padding: 5px;
  color: white;
  /* background-image: url("black.jpg"); */
  width: 100%;
}

.listWord:hover {
  color: yellow
}
.listWord:hover::after {
  color: yellow
}

.listWord{
  color: white
}

.notFoundLink:hover {
  background: #A16E83;
}


div span.wordPage {
  border: 7px solid white;
  padding: 10px;
  color: yellow;
}

div span.wordPageDef {
color: white;
padding: 15px;
font-size: .75em;
}

form{
  background-color: #1F2833;
  background-size: 100%;
   color: white;
   font-size: 5em;
   height: 250em;
   line-height: 20px;
   padding: 40px;
   width: 100%;

}

label {
  font-size: 2em;
  line-height: 30px;
  padding: 15px;
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}



